POSTGRES_IMAGE=
POSTGRES_CONTAINER_NAME=
POSTGRES_RESTART_POLICY=
POSTGRES_DB=
POSTGRES_TEST_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_CONTAINER_PORT=
POSTGRES_VOLUME_NAME=
POSTGRES_HEALTHCHECK_TIMEOUT=
POSTGRES_HEALTHCHECK_INTERVAL=
POSTGRES_HEALTHCHECK_RETRIES=
POSTGRES_HEALTHCHECK_START_PERIOD=